<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define the BookRepository bean (Exercise 1) -->
    <bean id="bookRepository" class="com.library.service.BookRepository" />

    <!-- Define the BookService bean and wire BookRepository into it (Exercises 1 & 2) -->
    <bean id="bookService" class="com.library.repository.BookService">
        <!-- Dependency Injection via setter (Exercise 2) -->
        <property name="bookRepository" ref="bookRepository" />
    </bean>

</beans>